<html>
    <body>
        <h1>Cadastro de livros</h1>

        <form action="/book" method="post">

            <input type="hidden" id="id" name="id" />

            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" placeholder="coloque o titulo" />
            </div>
            <div>
                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco" placeholder="150.25" />
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea cols="20" rows="10"  id="descricao" name="descricao" placeholder="fale sobre o livro"></textarea>
            </div>
            <input type="submit" value="Salvar" />
        </form>
    </body>
</html>