<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Cadastro da categoria</h2>
        </div>

        <div class="card-body">
            <form action="/categories/save" method="POST">
                <input type="text" name="title" class="form-control" placeholder="Defina o título da categoria"><br>
                <button class="btn btn-success">Cadastrar</button>
            </form> 
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>